<header>
    <div class="page-center clearfix">
        <div class="cm-logo">
          <a href="#" class="cm-logo"><img src="assets/Images/logo.png" /></a>
        </div>
        <app-nav></app-nav>
        <div class="cm-social">
          <ul>
              <li><a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
    </div>
  </header>
