<div class="about-bg animated fadeIn" [ngStyle]="{backgroundImage: 'url('+ aboutBgs +')'}">
    <div class="page-center">
      <p>We live and train by principles that help us get the most out of our Natural Movement® practice.</p>
      <h4>Practical</h4>
      <p>Yes, it is actually useful. If a movement isn’t helpful in everyday life, we are not very interested in it. From carrying the groceries to fleeing from danger, our movements are based on real life needs.</p>
      <h4>Adaptable</h4>
      <p>Movement depends on context. This is essential. All of our movement aptitudes are based on interaction with specific and ever changing environments and situations. Learning to adapt is what MovNat is all about.</p>
      <h4>Efficient</h4>
      <p>We practice efficiency in all things. The movement aptitudes practiced are performed skillfully (i.e., with efficient technique), buy Imitrex online greater performance, higher energy conservation, and increased safety.</p>
      <h4>Mindful</h4>
      <p>Movement comes from the inside out, and it stems from awareness of ourselves and our environment. Mindfulness is the gateway to efficient, adaptable movement through perception, concentration, and mental toughness.</p>
    </div>
  </div> 