<div class="about-bg animated fadeIn" [ngStyle]="{backgroundImage: 'url('+ aboutBg +')'}">
  <div class="page-center">
      <p>Our distinct Purpose and our operational expertise across our business model will help realise our vision to grow our business, whilst decoupling our environmental footprint from our growth and increasing our positive social impact. This is captured in the Unilever Sustainable Living Plan.</p>
      <p>By combining our multinational expertise with our deep roots in diverse local cultures, we’re continuing to provide a range of products to suit a wealth of consumers. We’re also strengthening our strong relationships in the emerging markets we believe will be significant for our future growth.</p>
      <p>And by leveraging our global reach and inspiring people to take small, everyday actions, we believe we can help make a big difference to the world.</p>      
  </div>
</div>