<!-- <header>
  <div class="page-center clearfix">
      <div class="cm-logo">
        <a href="#" class="cm-logo"><img src="assets/Images/logo.png" /></a>
      </div>

      <div class="custom-menu-primary">
        <nav class="cm-nav">
          <ul class="cm-menu clearfix">
            <li><a routerLink="/home1" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About Me</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            <li><a routerLink="/notfound" routerLinkActive="active">Error</a></li>
          </ul>
        </nav>
      </div>

      <div class="cm-social">
        <ul>
            <li><a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
  </div>
</header> -->
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> 