<section class="bg-section animated fadeIn" [ngStyle]="{backgroundImage: 'url('+ banner +')'}">
  <div class="page-center">
    <h1 class="animated fadeInLeft"><span>John</span> Smith</h1>
    <h2 class="animated fadeInLeft">Personal Trainer</h2>
  </div>
</section>
<section class="bg-content overlay banner2 animated fadeIn" [ngStyle]="{backgroundImage: 'url('+ banner2 +')'}">
  <div class="page-center">
    <h1 class="animated fadeInLeft">WE <span>PROMISE</span> TO:</h1>
    <div class="skew">
      <p><span>HELP YOU FIND YOUR STARTING POINT</span></p>
      <p><span>BUILD YOUR PATH TO SUCCESS</span></p>
      <p><span>SHOW YOU THE ROPES</span></p>
  </div>
  </div>
</section>
<section class="bg-content banner3 animated fadeIn" [ngStyle]="{backgroundImage: 'url('+ banner3 +')'}">
  <div class="page-center">
      <h1> <span>Personal</span> Trainer</h1>
    <p>
      <span>
      There’s nothing better than having your very own coach, mentor and cheerleader. Need an extra push? That’s why we’re here. Our personal trainers are certified experts in exercise physiology, anatomy, training program development, exercise application and fitness assessments. And they excel at applying that knowledge to your own goals, no matter your age or fitness level.
    </span>
    </p>
  </div>
</section>
<app-contact-modal></app-contact-modal>